<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>MoneySaver</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>

	<div class="col-lg-3">
	
		<div class="clearfix">
			<img src="slika.png" align=left>
  			<h1>MoneySaver</h1>
  		</div>
		
		<br />
		
		<form method="GET" action="/unos" >
			<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
			<button type="submit" class="btn btn-primary">Unos novog troška</button>
		</form>
		
		<br />
		
		<div sec:authorize="isAuthenticated()">
			<form method="POST" th:action="@{/logout}">
				<button type="submit" class="btn btn-danger">Logout</button>
				Ulogirani ste kao <span sec:authentication="name">Korisnik</span>.
			</form>
		</div>
		
	</div>
	
</body>
</html>