<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>MoneySaver</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>
	
	<div class="col-md-3">
	
		<div class="clearfix">
			<img src="slika.png" alt="Logo" align=left>
  			<h1>MoneySaver</h1>
  		</div>
	
		<h5>Unos novog troška</h5>

		
		<form method="POST" th:object="${trosak}" th:action="@{/novi}">
		
			<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
		
			<input class="form-control" type="text" id="naziv" name="naziv" placeholder="Unesite naziv troška" autofocus="autofocus" />
			<span class="text-danger" th:if="${#fields.hasErrors('naziv')}" th:errors="*{naziv}">Name Error</span>

			<br />
			
			<select class="form-control" th:field="*{vrsta}">
				<option value="">---odaberite vrijednost---</option>
				<option th:each="vrsta : ${vrsteTroska}"
						th:value="${vrsta}"
						th:text="${vrsta}">
				</option>
			</select>
			<span class="text-danger" th:if="${#fields.hasErrors('vrsta')}" th:errors="*{vrsta}">Name Error</span>
		
			<br />
		
			<input class="form-control" type="number" step="0.01" placeholder="0.00" th:field="*{iznos}">
			<span class="text-danger" th:if="${#fields.hasErrors('iznos')}" th:errors="*{iznos}">Name Error</span> 
			
			<button class="btn btn-primary" type="submit">Unesi</button>			
			
		</form>
		
		<br />
		
		<form action="/pretraga">
    		<button class="btn btn-primary" type="submit">Pretraga troškova</button>	
		</form>
		
		<br />
		
		<div sec:authorize="isAuthenticated()">
			<form method="POST" th:action="@{/logout}">
				<button type="submit" class="btn btn-danger">Logout</button>
				Ulogirani ste kao <span sec:authentication="name">Korisnik</span>.
			</form>
		</div>
		
	</div>

</body>
</html>